/* .corpo-ci {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-image: url(../../../../public/fundo.png);
    background-size: auto;
    background-repeat: repeat;
    opacity: 0.7;
}

.container-ci {
    width: 70%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-group-ci {
    margin-bottom: 20px;
}

.form-group-ci label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group-ci .input-campos,
.form-group-ci select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-group-ci select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form-group-ci button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group-ci button:hover {
    background-color: #0056b3;
}

.form-de-liv-ci {
    text-align: center;
    color: #007bff;
    font-size: 40px;
    font-family: fantasy;
} */

.corpo-ci {
    width: 100%;
    background: linear-gradient(#2B419C, #fff);
    padding: 20px;
}

.container-ci {
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
}

.form-de-liv-ci {
    color: #2B419C;
    text-align: center;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
    font-weight: bold;
    font-size: 20px;
}

.form-group-ci {
    margin-bottom: 15px;
}

.form-group-ci label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-campos {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.input-campos {
    height: 100px;
    resize: none;
}

.form-group-ci button {
    width: 100%;
    background-color: #2B419C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group-ci button:hover {
    background-color: #1d2f6f;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.options-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.option-c {
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

.option-c:hover:after {
    width: 100%;
}

.line-c {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
}

.step-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.step-indicator span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.step-indicator .active {
    background-color: #007bff;
    color: white;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .corpo-ci {
        padding: 40px;
    }
}

@media (max-width: 420px) {
    .option-c {
        color: white;
        font-size: 10px;
        text-decoration: none;
        position: relative;
    }

    .option-c:hover:after {
        width: 100%;
    }

    .line-c {
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.3s;
    }
    
}