.tela-dash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60%;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header h2 {
    color: #333;
    margin: 0;
    font-size: 24px;
}

.info {
    margin-bottom: 20px;
}

.info h1 {
    color: #555;
    font-size: 18px;
    margin: 10px 0;
}

.chart-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}